<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208984218590-esl09co8pjqt7q25qklesdfqrqreoukv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208984218590-esl09co8pjqt7q25qklesdfqrqreoukv</string>
	<key>API_KEY</key>
	<string>AIzaSyDiDHUagxFyhYko7m6rVYW3XCCBlSQR14w</string>
	<key>GCM_SENDER_ID</key>
	<string>208984218590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QEDev.voyce</string>
	<key>PROJECT_ID</key>
	<string>voyce-f933e</string>
	<key>STORAGE_BUCKET</key>
	<string>voyce-f933e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208984218590:ios:72c280e8dbec08a8361b4f</string>
	<key>DATABASE_URL</key>
	<string>https://voyce-f933e.firebaseio.com</string>
</dict>
</plist>
